

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,700;1,900&display=swap');

$font: "Lato", sans-serif !important;

//colors 
$primary-color: #111;
$secondary-color: #FFD700;
$white: #ddd;

body {
    font-family: $font;
}








